# MongoDB
MONGODB_URI=mongodb+srv://seu_usuario:sua_senha@cluster0.xxxx.mongodb.net/sosofa?retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_CLOUD_NAME=dj1hsuwyg
CLOUDINARY_API_KEY=628623779278147
CLOUDINARY_API_SECRET=0TGli_fp9lfAQy4KpWw4NnueIoE

# JWT Secret
JWT_SECRET=sosofat_permanent_key_2026

# Porta
PORT=3000
